h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: bisque;
    margin: 30px;
    letter-spacing: 3px;
    color:black;
}

body{background-color: bisque;}

.form-buttons {
    display: flex;
    gap: 10px;
    margin: 13px;
}

.form-buttons input[type="submit"]{
    background-color: azure;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.form-buttons input[type="submit"]:hover {
    background: aquamarine;
    transform: scale(1.05);
}

a{
    margin: 15px;
    color:blue
}

.query-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin:13px;
    justify-content: left;
}

.query-buttons button {
    flex: 1 1 25%;
    padding: 1px;
    min-width: 10px;
    background-color: azure;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.query-buttons button:hover {
    background: aquamarine;
    transform: scale(1.025);
}

.grid-cell {
    margin:10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}